<div class="mdl-card mdl-shadow--2dp">

    <div class="mdl-card__supporting-text">
  
      <div class="mdl-stepper-horizontal-alternative" >

        <div class="mdl-stepper-step" [class.active-step]= "steps >= 0" [class.step-done]= "steps > 0" (click)="onClickStepper(0)">
          <div class="mdl-stepper-circle"><span>1</span></div>
          <div class="mdl-stepper-title">Address</div>
          <div class="mdl-stepper-bar-left"></div>
          <div class="mdl-stepper-bar-right"></div>
        </div>
        <div class="mdl-stepper-step" [class.active-step]= "steps >= 1" [class.step-done]= "steps > 1" (click)="onClickStepper(1)">
          <div class="mdl-stepper-circle" ><span>2</span></div>
          <div class="mdl-stepper-title" >Delivery</div>
          <div class="mdl-stepper-bar-left"></div>
          <div class="mdl-stepper-bar-right"></div>
        </div>
        <div class="mdl-stepper-step" [class.active-step]= "steps >= 2" [class.step-done]= "steps > 2" (click)="onClickStepper(2)">
          <div class="mdl-stepper-circle"><span>3</span></div>
          <div class="mdl-stepper-title">Review</div>
          <div class="mdl-stepper-bar-left"></div>
          <div class="mdl-stepper-bar-right"></div>
        </div>
        <div class="mdl-stepper-step" [class.active-step]= "steps >= 3" [class.step-done]= "steps > 3" (click)="onClickStepper(3)">
          <div class="mdl-stepper-circle"><span>4</span></div>
          <div class="mdl-stepper-title">Payment</div>
          <div class="mdl-stepper-bar-left"></div>
          <div class="mdl-stepper-bar-right"></div>
        </div>
      </div>
  
    </div>
  
  </div>
