<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-3">Login</h1>
            </div>
            <div class="form-floating mb-3">
                <input
                [ngClass]="loginForm.get('email')?.touched ? loginForm.get('email')?.invalid ? 'is-invalid' :  'is-valid' : null"
                type="email"
                formControlName="email"
                class="form-control" id="floatingInput" placeholder="Email">
                <label for="floatingInput">Email address</label>
                <div class="invalid-feedback">Please choose a valid e-mail</div>
            </div>
            <div class="form-floating">
                <input
                [ngClass]="loginForm.get('password')?.touched ? loginForm.get('password')?.invalid ? 'is-invalid' : 'is-valid' : null"
                type="password"
                formControlName="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password">
                <label for="floatingPassword">Password</label>
                <div class="invalid-feedback">Please choose a valid password</div> 
            </div>
            <div class="d-grid">
                <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>
